body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
.header {
    background-color: black;
    color: white;
    padding: 20px;
    display: inline-block;
    width: 80%;
    font-size: 40px;
    
}

.container {
    background-color: rgb(175, 170, 170);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    width: 100%;
}
.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 50%;
    vertical-align: bottom;
}
.sp1{
    line-height: 100px;
}
.hea{
    background-color: black;
    color: white;
    word-spacing: 10px;
}