body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    word-spacing: 10px;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background: white;
    padding: 20px;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #007BFF;
    padding: 5px;
}

.content {
    width: 75%;
    padding: 20px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
